@using Model
@model Backend.Viewmodels.EditUserViewmodel
@{
    ViewBag.Title = "MyPage";
}

<div class="w3-container">
    <div class="w3-row">
        <div class="w3-col m3">
            <div class="w3-panel w3-card w3-padding">
                <label>
                    <b>Fornavn</b>
                </label>
                @Html.TextBoxFor(a => a.User.Fornavn, new {@class = "w3-input w3-margin-bottom"})
                <label>
                    <b>Efternavn</b>
                </label>
                @Html.TextBoxFor(a => a.User.Efternavn, new {@class = "w3-input w3-margin-bottom"})
                <label>
                    <b>Email</b>
                </label>
                @Html.TextBoxFor(a => a.User.Email, new {@class = "w3-input"})
                <br/>
                @Html.DropDownListFor(a => a.User.Role.Id, Model.Roles, new { @class = "w3-input" })
                <br/>
                <input type="button" value="Gem" data-command="saveProfile" class="w3-btn w3-ripple w3-blue"/>
            </div>
        </div>
        <div class="w3-col m3 w3-margin-left">
            <div class="w3-panel w3-card w3-padding">
                <label>
                    <b>Værelse nr / brugernavn</b>
                </label>
                @Html.TextBoxFor(a => a.User.VærelseNr, new {@class = "w3-input w3-margin-bottom"})
                <label>
                    <b>Adgangskode</b>
                </label>
                @Html.TextBoxFor(a => a.Password, new {@class = "w3-input w3-margin-bottom"})
                <label>
                    <b>Bekræft adgangskode</b>
                </label>
                @Html.TextBoxFor(a => a.ConfirmPassword, new {@class = "w3-input"})
                <br/>
                <input type="button" value="Gem" data-command="saveLogin" class="w3-btn w3-ripple w3-blue"/>
            </div>
        </div>
        <div class="w3-col m3 w3-margin-left">
            <div class="w3-panel w3-card w3-padding">
                <label>
                    <b>Billede</b>
                </label>
                <form id="imageForm" enctype="multipart/form-data">
                    @Html.TextBoxFor(a => a.Image, new { @class = "w3-input", type = "file" })
                </form>
                <br/>
                <input type="button" value="Gem" data-command="saveImage" class="w3-btn w3-ripple w3-blue"/>

            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(function () {
            
            $('input[type="button"]').on('click', function() {
                var command = $(this).data('command');
                var data = {};
                var processData = true;
                var contentType = 'application/x-www-form-urlencoded; charset=UTF-8';
                switch (command) {
                case 'saveProfile':
                    data = {
                        'User.Fornavn': $('#User_Fornavn').val(),
                        'User.Efternavn': $('#User_Efternavn').val(),
                        'User.Email': $('#User_Email').val(),
                        'User.Role.Id': $('#User_Role_Id').val()
                    }
                    break;

                case 'saveLogin':
                    data = {
                        'User.VærelseNr': $('#User_V_relseNr').val(),
                        Password: $('#Password').val(),
                        ConfirmPassword: $('#ConfirmPassword').val()
                    }
                    break;

                case 'saveImage':
                    var formdata = new FormData();
                    var file = $('#Image')[0].files[0];
                    formdata.append('image', file);
                    processData = false;
                    contentType = false;
                    data = formdata;
                    break;
                    
                default:
                }
                $.ajax({
                    url: '/users/rediger?command=' + command + '&userId=' + @Model.User.Id,
                    type: 'post',
                    data: data,
                    cache: false,
                    contentType: contentType,
                    processData: processData,
                    success: function(data) {
                        if (data) {
                            renderModal();
                        }
                    }
                });
            });
        })

        function renderModal() {
            var div = createElement('div', { id: "successModal", className: "w3-modal" });
            var contentContainer = createElement('div', { className: "w3-modal-content w3-animate-zoom" });
            var content = createElement('div', { className: "w3-container", innerHTML: "<p>Succes! Data er blevet opdateret</p>" });
            var footer = createElement('footer', { className: "w3-container w3-padding"});
            var okButton = createElement('button', { className: "w3-button w3-blue w3-right", innerHTML: "Ok" });

            okButton.addEventListener('click', function() {
                document.getElementById('successModal').remove();
                //document.body.removeChild(document.getElementById('successModal'));
                //$('#successModal').remove();
            });
            
            contentContainer.appendChild(content);
            footer.appendChild(okButton);
            contentContainer.appendChild(footer);
            div.appendChild(contentContainer);
            document.body.appendChild(div);
            div.style.display = "block";
        }

        function createElement(tagname, options) {
            var element = document.createElement(tagname);
            if (typeof options === "object") {
                for (var property in options) {
                    if (options.hasOwnProperty(property)) {
                        element[property] = options[property];
                    }
                }
            }
            return element;
        }
    </script>
}
