<!DOCTYPE html>
<html>
<head>
    <title>Pauls ølstue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="/Content/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        html, body, div.w3-main { height: 98%;}
        .w3-fill { height: 100%;}
    </style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-green w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <span class="w3-bar-item w3-right">Pauls ølstue</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-card" style="z-index:3;width:300px; top:43px" id="mySidebar"><br>
    <div class="w3-container w3-row">
        
        <div class="w3-col s12 w3-bar w3-center">
            <span>Velkommen, <br /> <strong>@Session["Fullname"]</strong></span><br>
            <div class="w3-col s2">
                &nbsp;
            </div>
            <div class="w3-col s9">
                <a href="/Account/MyPage" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                    {
                        <button class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i> Log af</button>
                    }
                
                }
            </div>
        </div>
    </div>
    <hr>
    <div class="w3-bar-block" id="menuContainer">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a href="/Dashboard/Index" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Oversigt</a>
        <a href="/Users/Index" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Brugere</a>
        <a href="/Products/Index" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Produkter</a>
        
    </div>
</nav>



<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>


<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    @RenderBody()
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts")
<script>
    $.ajaxSetup({
        headers: { 'Authorization': 'bearer ' + localStorage.getItem('authToken') },
        error: function (xhr) {
            console.log(xhr);
            if (xhr.status == 401) {
                window.location.href = "/Account/Login";
            }
        }
    });
</script>
@RenderSection("scripts", required: false)
<script>
// Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

// Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }

    $(function() {
        $('#menuContainer').children().each(function() {
            var href = $(this).attr('href');
            var currentUrl = window.location.href;
            if (currentUrl.indexOf(href) > 0) {
                $(this).addClass('w3-blue');
            } else {
                $(this).removeClass('w3-blue');
            }
        });
    });
</script>
</body>
</html>

