@model Backend.Viewmodels.LoginViewmodel
@{
    ViewBag.Title = "Login";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <title>Pauls ølstue</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>
<body class="w3-light-grey">
<div id="id01" class="w3-modal" style="display: block;">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width: 600px">
        <div class="w3-center">
            <h2>Log ind</h2>
        </div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "w3-container"}))
        {
            <div class="w3-section">
                <label><b>Værelse nr</b></label>
                @Html.TextBoxFor(a => a.VærelseNr, new { @class = "w3-input w3-border w3-margin-bottom", placeholder = "Indtast dit værelse nr" })
                <label><b>Adgangskode</b></label>
                @Html.TextBoxFor(a => a.Password, new { @class = "w3-input w3-border", placeholder = "Indtast adgangskode" })
                
                <input class="w3-button w3-block w3-green w3-section w3-padding" type="submit" value="Log ind"/>
                @Html.CheckBoxFor(a => a.RememberMe, new { @class = "w3-check w3-margin-top" }) Remember me
            </div>
        }
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <span class="w3-right w3-padding w3-hide-small">Glemt <a href="#">adgangskode?</a></span>
        </div>

    </div>
</div>
@Scripts.Render("~/bundles/jquery")
</body>
</html>

